<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Database Results</h2>

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.id %> - <%= r.name %></li>
    <% }); %>
</ul>

<%= JSON.stringify(query) %>

<form method="GET" action="/db">
  <input name="test" value="aaa"></input>
  <button type="submit" name="submit"></button>
</form>

</div>

</body>
</html>
